body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* **************************************************************************** */
/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ******************************************************************************** */
/* ******************************************************************************** */
/* CUSTOM STYLES */
/* ******************************************************************************** */

/* VARIABLES ***************************************************************** */
:root {
  --accent-text: #2bbf1e;
  --accent-background: #0d9f00;
  --dark-text-color: #333;
  --light-text-color: #dcdcdc;

  --dark-bg-1: #121212;
  --dark-bg-2: #2b2b2b;
}

/* GENERAL STYLES ***************************************************************** */
* {
  box-sizing: border-box;
  /* color: #dedede; */
}

body, html, #root {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  background: #bbb;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.window {
  height: 100%;
}

.mobileContainer {
  background: #fff;
  max-width: 320px;
  margin: 0 auto;
}

.main {
  background: var(--dark-bg-1);
  color: var(--light-text-color);
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  padding: 0 .9em .4em;
  min-height: 900px;
}

.pageHeader {
  text-align: center;
  padding: 1em 0 1.2em;
}

.subHeader {
  margin: 0 0 .4em;
  line-height: 1.3em;
}

.description {
  display: flex;
  font-size: .9em;
  line-height: 1.3em;
  margin: 0 .9em 0 0;
}

.description_small {
  font-size: .85em;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0 .9em .2em 0;
}

.marginBottom {
  margin-bottom: 1em;
}

.marginBottomSmall {
  margin-bottom: .3em;
}

.marginRight {
  margin-right: 1em;
}

.marginRightSmall {
  margin-right: .3em;
}

.section {
  position: relative;
  background: var(--dark-bg-2);
  margin: 0 0 1em;
  padding: .7em;
  border-radius: .3em;
}

.shortText {
  font-size: 1em;
  line-height: 1.1em;
  margin: 0 .4em .4em;
}

.alignCenter {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.row_centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.centerContainer {
  display: flex;
  justify-content: center;
}

.centerContainer_spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  display: block;
  padding: .5em 1em;
  border-radius: .3em;
  /* margin: .3em .7em 1em; */
  /* background: #ddd; */
  background: #0c9100;
  border: none;
  border-bottom: .2em solid var(--accent-text);
  color: #d7d7d7;
  font-weight: 600;
}

.button-sets {
  background: var(--light-text-color);
  color: var(--dark-text-color);
  font-size: 1.1em;
  border: none;
  padding: .4em .6em .3em;
  border-radius: .6em;
  position: relative;
  top: -.45em;
}

.button a {
  color: inherit;
}

.accent-text {
  color: var(--accent-text);
  font-weight: 600;
}

.inline {
  display: inline-block;
}

.cornerText {
  position: absolute;
  top: 1em;
  right: .0em;
}

.divider {
  border-bottom: .2em solid var(--accent-text);
  margin: 0 0 1em;
}

.footer {
  background: #555;
  color: #ddd;
  padding: 1em .3em;
  font-size: .7em;
  text-align: center;
}

/* HEADER ***************************************************************** */
.header-title {
  background: var(--accent-background);
  /* border-bottom: .1em solid #5ee652; */
  border-bottom: .12em solid #57db4b;
  padding: .4em 2em;
  font-size: 1.5em;
  text-align: center;
}

.kettlebellImg {
  width: 1.2em;
  position: relative;
  top: .1em;
}

.nav {
  background: var(--light-text-color);
  padding: .7em .4em;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
}

.nav-li {
  width: 100%;
  font-size: .8em;
  text-align: center;
  color: #000;
}

.nav-a {
  text-decoration: none;
  color: #000;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  padding: 10px 0;
  color: #555;
}

/* .checkbox {
  position: relative;
  top: -.2em;
  left: -.4em;
  margin-right: .2em;
} */

.checkImg {
  width: 25px;
  position: absolute;
  top: 1em;
  right: .8em;
}

/* FORM COMPONENTS ***************************************************************** */
.form {
  margin: 0 0 1em;
}

.form-group-col {
  display: flex;
  flex-direction: column;
  padding: 0 0 .8em;
}

.form-group-row {
  display: flex;
  flex-direction: row;
  padding: 0 .9em .8em 0;
}

.form-label {
  margin: 0 .5em .4em 0;
}

.form-label_short {
  width: 3.5em;
}

.form-input {
  padding: .3em .4em;
  margin: 0 0 .5em;
  /* border-radius: .3em; */
  /* border: .1em solid #888; */
  height: 2em;
  border: none;
  background: inherit;
  border-bottom: .2em solid #777;
  color: var(--light-text);
  font-size: 1em;
}

.form-input:focus {
  outline: none;
  border-bottom: .2em solid #ccc;
}

.form-input_textarea {
  border: .2em solid #777;
  border-radius: .6em;
}

.form-input_textarea:focus {
  border: .2em solid #ccc;
}

.form-numInput {
  width: 3em;
  height: 2em;
  padding: .3em .4em;
  margin: 0 0 .5em;
  /* border-radius: .3em; */
  /* border: .1em solid #888; */
  border: none;
  border-bottom: .2em solid #777;
  background: inherit;
  color: var(--light-text);
  font-size: 1em;
}

.form-numInput:focus {
  border: none;
  border-bottom: .2em solid #777;
}

.form-selectInput {
  width: 5em;
  height: 2em;
  padding: .3em .4em;
  margin: 0 0 .5em;
  border: none;
  border-bottom: .2em solid #777;
  font-size: 1em;
  background: inherit;
  color: var(--light-text);
  /* border-radius: .3em; */
  /* border: .1em solid #888; */
  /* background: #fff; */
}

.form-errorMessage {
  background: #fdcaca;
  border: .1em solid #eaa6a6;
  padding: .2em .6em;
  border-radius: 4px;
  margin: 0 0 .5em;
}

/* 
.form-button {
  margin: 0 auto;
  display: block;
  padding: .4em 1em;
  border-radius: .3em;
  background: #c0c0c0;
  border: none;
}

.form-buttonOption {
  width: 100%;
}

.form-buttonSubmit {
  margin-top: 1.5em;
} */
